altgraph==0.16.1
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
dis3==0.1.2
Django==1.9.13
django-bootstrap==0.2.4
django-bootstrap-themes==3.3.6
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
jdcal==1.4
macholib==1.11
openpyxl==2.5.12
pefile==2018.8.8
pexpect==4.6.0
ptyprocess==0.6.0
PyInstaller==3.4
requests==2.21.0
soupsieve==1.6.2
urllib3==1.24.2
