{% extends "hierarchy/base.html" %}
{% load hierarchy_tags %}
{% block head %}
  <title>New</title>
  <style>
    td {
      padding-left:5px;
      padding-right:5px;
    }
  </style>
{% endblock %}
{% block body %}
<div class="container">

    {% editable_document "new_intro" %}

    <br />
    <form method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
      {{subproductform.as_p}}
      <input type="hidden" name="select" value="subproduct" />
      <br />
      <button class="btn btn-primary">Submit</button>
    </form>

    <br /><br /><br />
    <form method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
      {{productform.as_p}}
      <input type="hidden" name="select" value="product" />
      <br />
      <button class="btn btn-primary">Submit</button>
    </form>

  {% if newcodes %}
  <br /><br />
    <table>
      <caption><strong>Codes Used</strong></caption>
      {% for codelist in newcodes %}
        <tr>
          {% for column in codelist %}
            <td>{{column}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <script>
      document.location = "/?retrieve"
    </script>

  {% endif %}


  <br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br />

</div>

{% endblock %}
