{% extends "hierarchy/base.html" %}
{% load hierarchy_tags %}
{% block head %}
  <title>ReplaceCodes</title>
<style>
td {
  padding:4px;
}
</style>
{% endblock %}
{% block body %}
<div class="container">

    {% editable_document "replacecodes" %}

    <br />
    <form method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
      {{replaceCodesForm.as_p}}
      <input type="hidden" name="select" value="subproduct" />
      <br />
      <button class="btn btn-primary">Submit</button>
    </form>

{% if usedCount %}
  <br />
  <div style="width:70px">
    <table class="table table-condensed">
      <tr>
        <td>
          Used
        </td>
        <td>
          {{usedCount}}
        </td>
      </tr>
      <tr>
        <td>
          Unused
        </td>
        <td>
          {{unusedCount}}
        </td>
      </tr>
      <tr>
        <td>
          <strong>Total</strong>
        </td>
        <td>
          <strong>{{total}}</strong>
        </td>
      </tr>
    </table>
  </div>
{% endif %}

  <br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br />

</div>

{% endblock %}
